{
  "presets": [
    ["vue-app", { "useBuiltIns": true } ],
    "stage-2"
  ],
  "plugins": [
    "transform-class-properties",
    ["transform-imports", {
      "vuetify": {
        "transform": "vuetify/es5/components/${member}",
        "preventFullImport": true
      }
    }]
  ],
  "comments": false,
  "env": {
    "test": {
      "presets": [
        ["vue-app", { "useBuiltIns": true } ],
        "stage-2"
      ]
    }
  }
}